RewriteEngine On
RewriteBase /archiweb_2024_projets_gr07/webapp/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([^/]+)/([^/]+)/([0-9]+)/?$ index.php?Controller=$1&action=$2&id=$3 [QSA,L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/?$ index.php?Controller=$1&action=$2&user=$3 [QSA,L]
RewriteRule ^([^/]+)/([0-9]+)/?$ index.php?Controller=$1&id=$2 [QSA,L]
RewriteRule ^([^/]+)/([a-z]+)/?$ index.php?Controller=$1&action=$2 [QSA,L]
RewriteRule ^([^/]+)/([^/]+)/?$ index.php?Controller=$1&user=$2 [QSA,L]
RewriteRule ^([^/]+)/?$ index.php?Controller=$1 [QSA,L]
