RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/([a-z]+)/([a-z]+)/?$ index.php?Controller=$1&action=$2&action2=$3
RewriteRule ^([^/]+)/([a-z]+)/?$ index.php?Controller=$1&action=$2 
RewriteRule ^([^/]+)/([0-9]+)/?$ index.php?Controller=$1&id=$2 
RewriteRule ^([^/]+)/?$ index.php?Controller=$1 [QSA,L]