RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/([0-9]+)/?$ index.php?Controller=$1&id=$2 
RewriteRule ^([^/]+)/?$ index.php?Controller=$1 [QSA,L]